/@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
//    @model List<PuedesPasARG.Models.diagnostico>
    @model List<PuedesPasARG.Models.Dx>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>




    <title>Validacion DXs</title>
</head>
<body>

    <div id="divAgrupar">
        <div id="divFiltrarTabla">

            <form>
                <label id="lblFiltro">Filtro de diagnósticos:</label><br>
                <input id="checkNuevo" type="radio" name="opciones" value="NUEVO" onchange="filtrarTabla('NUEVO')"> Nuevo <br>
                <input type="radio" name="opciones" value="RECHAZADO" onchange="filtrarTabla('CONFIRMADO')"> Confirmado<br>
                <input type="radio" name="opciones" value="CONFIRMADO" onchange="filtrarTabla('RECHAZADO')"> Rechazado<br>
            </form>

        </div>

        <div id="divExportar">
            <button id="exportarExcel" onclick="exportTableToExcel('tablaDXs')">Exportar a Excel</button>
        </div>
    </div>
  
    <table class="table" id="tablaDXs">
        <thead>
            <tr>
                <th></th>
                <th style="display: none;">estado</th>
                <th>id</th>
                <th>edad</th>
                <th>sistolica</th>
                <th>diastolica</th>
                <th>arp</th>
                <th>conc_aldo</th>
                <th>cromogranina_a</th>
                <th>dopamina</th>
                <th>epinefrina</th>
                <th>igf1</th>
                <th>norepinefrina</th>
                <th>serotonina</th>
                <th>t4</th>
                <th>tsh</th>
                <th>ac-5-hidr</th>
                <th>ac-vain-man</th>
                <th>cortisol_libre</th>
                <th>epine_orina</th>
                <th>norep_orina</th>
                <th>prot </th>
                <th>sodio </th>
                <th>supr_dexa </th>
                <th>tfg </th>
                <th>coartacion </th>
                <th>estenosis_renal </th>
                <th>quistes</th>
                <th>iah</th>
                <th>cort_noct.</th>
                <th>ant_poliq.</th>
                <th>drogas</th>
                <th>otras Sust.</th>
                <th>farmacos</th>
                <th>nivelPA</th>
                <th>etiologia</th>
                <th style="display: none;">comentario</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" onchange="seleccionarDX(@item.id)"></td>
                    <td style="display: none;">@item.estado</td>
                    <td>@item.id</td>
                    <td>@item.edad</td>
                    <td>@item.sistolica</td>
                    <td>@item.diastolica </td>
                    <td>@item.arp </td>
                    <td>@item.conc_aldo </td>
                    <td>@item.cromogranina_a </td>
                    <td>@item.dopamina </td>
                    <td>@item.epinefrina </td>
                    <td>@item.igf1 </td>
                    <td>@item.norepinefrina </td>
                    <td>@item.serotonina </td>
                    <td>@item.t4 </td>
                    <td>@item.tsh </td>
                    <td>@item.acido_5_hidrox </td>
                    <td>@item.acido_vainillin_man </td>
                    <td>@item.cortisol_libre </td>
                    <td>@item.epinefrina_orina </td>
                    <td>@item.norepinefrina_orina </td>
                    <td>@item.proteinuria </td>
                    <td>@item.sodio </td>
                    <td>@item.supr_dexa </td>
                    <td>@item.tfg </td>
                    <td>@item.coartacion </td>
                    <td>@item.estenosis_renal </td>
                    <td>@item.quistes </td>
                    <td>@item.iah </td>
                    <td>@item.cortisol_nocturno </td>
                    <td>@item.ant_poliquistosis </td>
                    <td>@item.cons_drogdas </td>
                    <td>@item.cons_otras </td>
                    <td>@item.cons_farmacos </td>
                    <td>@item.nivelPA </td>
                    <td>@item.etiologia </td>
                    <td style="display: none;">@item.comentario</td>
                </tr>
            }
        </tbody>
    </table>

    <div id="divDiagnostico">
        <label id="lblDx">Diagnostico</label>
        <input type="text" id="dxSeleccionado" name="diagnostico">

        <label id="lblComentario" for="comentario">Comentario</label>
        <input type="text" id="comentario" name="comentario">
        <div id="divBotones">
            <button id="btnConfirmar" class="btnConfirmar" onclick="actualizarDX('CONFIRMADO')" disabled>Confirmar</button>
            <button id="btnRechazar" class="btnRechazar" onclick="actualizarDX('RECHAZADO')" disabled>Rechazar</button>
        </div>
    </div>

    <div id="divReglas">
        <label id="lblReglas">Reglas </label>
<textarea id="inputReglas"></textarea>
    </div>

</body>


</html>


<script type="text/javascript">
        "use strict"

        var btnConfirmar = document.getElementById("btnConfirmar");
        var btnRechzar = document.getElementById("btnRechazar");
        var inputDxSeleccionado = document.getElementById("dxSeleccionado");
        var comentario = document.getElementById("comentario");

        function main() {
            
            var checkNuevo = document.getElementById("checkNuevo");
            checkNuevo.checked = true;
            filtrarTabla('NUEVO');
        }

    function exportTableToExcel(tableID, filename = 'SEHTA_DXs') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'excel_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
        function seleccionarDX(e)
        {
            inputDxSeleccionado.value = e;
            btnConfirmar.disabled = false;
            btnRechzar.disabled = false;
            traerReglas(e);
        }

    function filtrarTabla(e) {
       
        const tbody = document.querySelector('tbody');
        const dataRows = Array.from(tbody.querySelectorAll('tr'));
       

        dataRows.forEach(row => {
            const valor = row.querySelector('td:nth-child(2)').textContent;
            if (valor == e) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }

    function traerReglas(dx) {
        var js = JSON.stringify({ dx: inputDxSeleccionado.value});
        var inputReglas = document.getElementById("inputReglas");
        inputReglas.value = "";
             $.ajax({
                 type: "POST",
                 url: '@Url.Action("obtenerReglas", "ValidarDX")',
                 dataType: "json",
                 data: js,
                 contentType: "application/json; charset=utf-8",
                 success: function (respuesta) {
                     respuesta.forEach(function (elemento) {
                         inputReglas.value += "*)" + elemento['regla'] + "\n";
                     });
                     }
                 });
        }

        function actualizarDX(e) {
            var js = JSON.stringify({ idDx: inputDxSeleccionado.value, comentario: comentario.value , estado: e });

            $.ajax({
            type: "POST",
            url: '@Url.Action("ValidarDX", "ValidarDX")',
            dataType: "json",
            data: js,
            contentType: "application/json; charset=utf-8",
            success: function (respuesta) {
                alert("Diagnostico " + e +  " exitosamente");
                location.reload(true);
                }
            });
        }



        window.addEventListener('load', main, false);
</script>



    <style>
        button:disabled{
            background-color:grey;
            cursor:not-allowed;
        }

        body {
            color: #566787;
            background: #F7F6FB; /* #f5f5f5;*/
            font-family: 'Varela Round', sans-serif;
            font-size: 10px;
        }

        .hint-text {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }

        form {
            display: inline;
            float: left;
            color: #FFC799;
            /* width:1400px;*/
            /* margin-left: 100px;*/
        }

        fieldset {
            display: inline;
            float: left;
            border: solid 1px black;
        }

        form label {
            clear: both;
            display: block;
            float: left;
        }

        form input {
            display: inline;
            float: right;
            width: 55px;
        }

            form input[type=text] {
                display: inline;
                float: right;
                width: 50px;
            }


        body {
            background-color: #202020;
        }

        label {
            color: #FFF2E8;
        }


        form :focus {
            border-color: #FFF2E8;
            box-shadow: 0 0 5px #FFF2E8;
        }


        b {
            color: #FFC799;
        }


        table {
            margin-left: 100px;
            color: white;
            border-collapse: collapse;
            border: 2px solid #FFC799;
            font-size: 12px;
            margin-top: 280px;
        }

        th, td {
            border-bottom: 1px solid #FFC799; /* Borde de las celdas internas */
            border-left: 0.5px solid grey;
            padding: 2px 2px;
            text-align:center;
        }


        table th {
            color: #FFC799;
        }

        .btnConfirmar {
            display: inline-block;
            padding: 10px 20px;
            font-size: 12px;
            text-align: center;
            text-decoration: none;
            background-color: #27ae60;
            color: #fff; /* Color del texto */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 0px;
            transition: background-color 0.3s;
            margin-top:5px;
        }

        .btnRechazar {
            display: inline-block;
            padding: 10px 20px;
            font-size: 12px;
            text-align: center;
            text-decoration: none;
            background-color: #e74c3c;
            color: #fff; /* Color del texto */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 0px;
            transition: background-color 0.3s;
            margin-top: 5px;
        }

        .button:hover {
            background-color: #2980b9; /* Cambio de color al pasar el cursor */
        }

        #comentario, #dxSeleccionado {
            border: 1px solid #B3743F;
            border-radius: 4px;
            transition: border-color 0.3s ease;
            outline: none;
            background-color: #201104;
            color: #FFC799;
            float: right;
            width: 300px;
            height: 29px;
            margin-top: 10px;
        }

        #divDiagnostico {
            margin-left: 100px;
            float: left;
            margin-top: 20px;
            margin-bottom: 5px;
        }

            #divDiagnostico * {
                display: block;
                width: 100%;
            }

        #lblComentario, #lblDx, #lblReglas  {
            color: #ffc799;
            font-size: 16px;
            margin-right: 15px;
        }

        #divBotones {
            display: block;
            float: left;
        }

        #divReglas * {
            margin-top: 40px;
            margin-left: 40px;
            float: left;
        }

        #inputReglas {
            display: block;
            resize: none;
            height: 180px;
            margin-left: 0px;
            border: 1px solid #B3743F;
            border-radius: 4px;
            transition: border-color 0.3s ease;
            outline: none;
            background-color: #201104;
            color: #FFC799;
            float: left;
            width: 600px;
        }

        #divFiltrarTabla {
            margin-bottom: 110px;
            margin-left:100px;
        }

        #lblFiltro {
            color: #ffc799;
            font-size: 16px;
        }

        #exportarExcel {
            clear: both;
            background-color: #ffc799;
            border: none;
            color: #201104;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            /* margin: 4px 2px;*/
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            /*width: 100%;*/
            float: left;
            margin-left: 100px;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        #divExportar{
            background-color: red;
            width: 100%;
        }
    </style>
