/@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
    //  @model dynamic
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <title>Home</title>
</head>
<body>
    <div id="divDatosPersonales">
    </div>
    <section id='contenido'>
        <div id="div-ingreso-datos">
            <form>
                <div id="div_fila_1">
                    <fieldset id="fieldsetPaciente">
                        <legend>Paciente</legend>

                        <label for="dni">DNI:</label>
                        <input type="text" id="dni" name="dni"> <br />

                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre"><br />

                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido">

                        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                        <input type="date" id="fechaNacimiento" name="fechaNacimiento">

                        <label for="edad">Edad:</label>
                        <input type="number" id="edad" name="edad" disabled><br />

                        <label for="inputSistolica">Presión arterial sistólica<b> [mmHg]</b>:</label>
                        <input type="number" id="inputSistolica" name="inputSistolica" min="0" step="1">

                        <label for="inputDiastolica">Presión arterial diastólica <b> [mmHg]</b>:</label>
                        <input type="number" id="inputDiastolica" name="inputDiastolica" min="0" step="1">

                        <button class="btnHTA" type="button" onclick="calcularPA()">Detectar presencia HTA</button>
                        <button class="btnHTA" type="button" id="btnEtiologia" onclick="determinarEtiologia()" disabled>Etiologia HTA</button>

                    </fieldset>



                    <fieldset id="fieldsetSangre">
                        <legend>Análisis Sangre</legend>
                        <label for="arp">ARP<b> [ng/mL/h] </b></label> <a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="arp" name="arp" step="0.01" required>

                        <label for="concentracion_aldosterona">Concentración Aldosterona<b> [ng/dL]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="concentracion_aldosterona" name="concentracion_aldosterona" step="0.01" required>

                        <label for="cromogranina_a">Cromogranina A<b> [ng/mL]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="cromogranina_a" name="cromogranina_a" step="0.01" required>

                        <label for="dopamina">Dopamina<b> [pg/mL]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="dopamina" name="dopamina" step="0.01" required>

                        <label for="epinefrina">Epinefrina<b> [pg/ml]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="epinefrina" name="epinefrina" step="0.01" required>

                        <label for="igf1">IGF1<b> [ng/ml]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="igf1" name="igf1" step="0.01" required>

                        <label for="norepinefrina">Norepinefrina<b> [pg/mL]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="norepinefrina" name="norepinefrina" step="0.01" required>

                        <label for="serotonina">Serotonina<b> [ng/m]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="serotonina" name="serotonina" step="0.01" required>

                        <label for="t4">T4<b> [pmol/L]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="t4" name="t4" step="0.01" required>

                        <label for="tsh">TSH<b> [mUI/L]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="tsh" name="tsh" step="0.01" required>
                    </fieldset>


                    <fieldset id="fieldsetOrina">
                        <legend>Análisis Orina</legend>
                        <label for="acido_hidroxindolacetico">Ácido 5-hidroxindolacético<b> [mg/24hs]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="acido_hidroxindolacetico" name="acido_hidroxindolacetico" step="0.01" required> <br />

                        <label for="acido_vainillin_mandelico">Ácido Vainillin Mandélico<b> [mg/24hs]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="acido_vainillin_mandelico" name="acido_vainillin_mandelico" step="0.01" required><br />

                        <label for="cortisol_libre">Cortisol Libre<b> [mcg/dia]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="cortisol_libre" name="cortisol_libre" step="0.01" required><br />

                        <label for="epinefrina_urinaria">Epinefrina<b> [mcg/24hs]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="epinefrina_urinaria" name="epinefrina_urinaria" step="0.01" required><br />

                        <label for="metanefrina">Metanefrina<b> [mg/24hs]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="metanefrina" name="metanefrina" step="0.01" required><br />

                        <label for="norepinefrina_urinaria">Norepinefrina<b> [mcg/24hs]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="norepinefrina_urinaria" name="norepinefrina_urinaria" step="0.01" required><br />

                        <label for="proteinuria">Proteinuria<b><b> [mg/dia]</b></b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="proteinuria" name="proteinuria" step="0.01" required><br />

                        <label for="sodio">Sodio<b> [meq]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="sodio" name="sodio" step="0.01" required><br />

                        <label for="supresion_dexametasona">Supresión Dexametasona<b> [ng/dl]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="supresion_dexametasona" name="supresion_dexametasona" step="0.01" required><br />

                        <label for="tfg">TFG<b> [ml/min/1.73]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <input type="number" id="tfg" name="tfg" step="0.01" required><br />
                    </fieldset>
                </div>



                <div id="div_fila_2">
                    <div id="estudiosVarios">
                        <fieldset id="fieldsetEstudioImagen">
                            <legend>Estudios Imagen</legend>
                            <label for="coartacion">Coartación:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                            <label class="labelSiNo" for="coartacion_si">Sí</label>
                            <input type="radio" id="coartacion_si" name="coartacion" value="si">
                            <label class="labelSiNo" for="coartacion_no">No</label>
                            <input type="radio" id="coartacion_no" name="coartacion" value="no" checked>
                            <label for="estenosis_renal">Estenosis Renal:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                            <label class="labelSiNo" for="estenosis_renal_si">Sí</label>
                            <input type="radio" id="estenosis_renal_si" name="estenosis_renal" value="si">
                            <label class="labelSiNo" for="estenosis_renal_no">No</label>
                            <input type="radio" id="estenosis_renal_no" name="estenosis_renal" value="no" checked>
                            <label for="quistes_rinon">Quistes en el Riñón:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                            <input type="number" id="quistes_rinon" name="quistes_rinon" min="0" step="1">
                            <!--
     <label for="tumor_neuroendocrino">Tumor Neuroendocrino:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
     <label class="labelSiNo" for="tumor_neuroendocrino_si">Sí</label>
     <input type="radio" id="tumor_neuroendocrino_si" name="tumor_neuroendocrino" value="si">
     <label class="labelSiNo" for="tumor_neuroendocrino_no">No</label>
     <input type="radio" id="tumor_neuroendocrino_no" name="tumor_neuroendocrino" value="no" checked>-->

                        </fieldset>


                        <fieldset id="fieldsetPolisomnografia">
                            <legend>Polisomnografía</legend>
                            <label for="iah">IAH<b> [eventos/hora]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                            <input type="number" id="iah" name="iah" min="0" step="1">
                        </fieldset>


                        <fieldset id="fieldsetSalival">
                            <legend>Analisis Salival</legend>
                            <label for="cortisol_nocturno">Cortisol nocturno<b> [ng/dL]</b>:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                            <input type="number" id="cortisol_nocturno" name="cortisol_nocturno" step="0.01" required>
                        </fieldset>
                    </div>

                    <fieldset id="fieldsetAnamnesis">
                        <legend>Anamnesis</legend>
                        <!--
    <label for="acv">ACV antes de los 40 años:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
    <label class="labelSiNo" for="acv_si">Sí</label>
    <input type="radio" id="acv_si" name="acv" value="si">
    <label class="labelSiNo" for="acv_no">No</label>
    <input type="radio" id="acv_no" name="acv" value="no" checked>-->

                        <label for="ant_poliquitosis">Antecedentes de Poliquitosis Renal:</label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <label class="labelSiNo" for="ant_poliquitosis_si">Sí</label>
                        <input type="radio" id="ant_poliquitosis_si" name="ant_poliquitosis" value="si">
                        <label class="labelSiNo" for="ant_poliquitosis_no">No</label>
                        <input type="radio" id="ant_poliquitosis_no" name="ant_poliquitosis" value="no" checked>

                        <label for="consumo_drogas">Consumo de Drogas: <i> consumo excesivo de alcohol, cocaína, metanfetamina, éxtasis</i></label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>

                        <label class="labelSiNo" for="consumo_drogas_si">Sí</label>
                        <input type="radio" id="consumo_drogas_si" name="consumo_drogas" value="si">
                        <label class="labelSiNo" for="consumo_drogas_no">No</label>
                        <input type="radio" id="consumo_drogas_no" name="consumo_drogas" value="no" checked>

                        <label for="consumo_farmacos">Consumo de Fármacos: <i>vasoconstirctores, reemplazo hormonal, anticonceptivos , inmunosupresores, quimioterápicos.</i></label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>

                        <label class="labelSiNo" for="consumo_farmacos_si">Sí</label>
                        <input type="radio" id="consumo_farmacos_si" name="consumo_farmacos" value="si">
                        <label class="labelSiNo" for="consumo_farmacos_no">No</label>
                        <input type="radio" id="consumo_farmacos_no" name="consumo_farmacos" value="no" checked>

                        <label for="consumo_otras_sustancias">Consumo de Otras Sustancias: <i>consumo excesivo de sal, vitaminas, minerales, cafeína.</i></label><a href="javascript:diccionario('ARP');" class="help-icon"><i class="fa fa-question-circle"></i></a>
                        <label class="labelSiNo" for="consumo_otras_sustancias_si">Sí</label>
                        <input type="radio" id="consumo_otras_sustancias_si" name="consumo_otras_sustancias" value="si">
                        <label class="labelSiNo" for="consumo_otras_sustancias_no">No</label>
                        <input type="radio" id="consumo_otras_sustancias_no" name="consumo_otras_sustancias" value="no" checked>

                    </fieldset>
                </div>
            </form>
        </div>
    </section>
    <aside id="columna">

        <fieldset id="fieldsetDiagnostico">
            <legend id="legendDiagnostico">Diagnóstico</legend>
            <label for="presionArterial">Presion Arterial</label>
            <input type="text" id="presionArterial" name="presionArterial">

            <label for="etiologia">Etiologia</label>
            <input type="text" id="etiologia" name="etiologia">

            <label for="causasSecundarias">Causas</label>
            <!--<input type="text" id="causasSecundarias" name="causasSecundarias" rows="11">-->
            <textarea id="causasSecundarias"></textarea>

            <label id="labelResultado">Resultado: </label>
            <textarea id="textAreaRespuesta"></textarea>
        </fieldset>

       


    </aside>

</body>

</html>


<script type="text/javascript">
    "use strict"

    var nivelPA = "";
    var etiologia = "";
    
    

    function diccionario(e) {
        mostrar_consola(e + ": Actividad de la renina plasmática - Mide la capacidad de la renina para producir angiotensina I a partir de angiotensinógeno");
        //textAreaRespuesta.value = e;
    }

     function guardarDatosOrinaDB()
    {
     var js_orina = JSON.stringify({
         supresion_dexametasona: supresion_dexametasona.value,
         cortisol_libre: cortisol_libre.value,
         tfg: tfg.value,
         proteinuria: proteinuria.value,
         epinefrina_orina: epinefrina_urinaria.value,
         norepinefrina_orina: norepinefrina_urinaria.value,
         metanefrina_orina: metanefrina.value,
         acido_vainillin_mandelico: acido_vainillin_mandelico.value,
         acido_hidroxindolacetico: acido_hidroxindolacetico.value,
         sodio: sodio.value
     });
         $.ajax({
             type: "POST",
             url: '@Url.Action("agregarDatosOrina", "Home")',
             dataType: "json",
             data: js_orina,
             contentType: "application/json; charset=utf-8",
             success: function (respuesta) {
                 //alert(respuesta);
                 }
             });
       }

    function guardarDatosSangreDB()
    {
        var js_sangre = JSON.stringify({
            arp: arp.value,
            concentracion_aldosterona: concentracion_aldosterona.value,
            cromogranina: cromogranina_a.value,
            dopamina_sangre: dopamina.value,
            epinefrina_sangre: epinefrina.value,
            igf1: igf1.value,
            norepinefrina_sangre: norepinefrina.value,
            serotonina: serotonina.value,
            t4: t4.value,
            tsh: tsh.value,
     });
         $.ajax({
             type: "POST",
             url: '@Url.Action("agregarDatosSangre", "Home")',
             dataType: "json",
             data: js_sangre,
             contentType: "application/json; charset=utf-8",
             success: function (respuesta) {
                // alert(respuesta);
                 }
             });
    }


    function guardarEstudiosVariosDB() {

        var js_estudios_varios = JSON.stringify({
            cortisol_nocturno: cortisol_nocturno.value,
            coartacion: coartacion_si.checked,
            estenosis_renal: estenosis_renal_si.checked,
            quistes: quistes_rinon.value,
            indice_apnea_hipopnea: iah.value
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("agregarOtrosEstudios", "Home")',
            dataType: "json",
            data: js_estudios_varios,
            contentType: "application/json; charset=utf-8",
            success: function (respuesta) {
               // alert(respuesta);
                }
        });
    }

    function guardarAnamnesisDB() {
        var js_anamnesis = JSON.stringify({
            ant_poliquistosis_renal: ant_poliquitosis_si.checked,
            consumo_drogas: consumo_drogas_si.checked,
            consumo_otras_sustancias: consumo_otras_sustancias_si.checked,
            consumo_farmacos: consumo_farmacos_si.checked,
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("agregarAnamnesis", "Home")',
            dataType: "json",
            data: js_anamnesis,
            contentType: "application/json; charset=utf-8",
            success: function (respuesta) {
                //alert(respuesta);
        }
        });
    }

    function guardarDiagnosticoDB() {

        var inputEtiologia = document.getElementById("etiologia");

        var js_diagnostico = JSON.stringify({
            npa: nivelPA,
            et: etiologia
        });

    

        $.ajax({
            type: "POST",
            url: '@Url.Action("agregarDiagnostico", "Home")',
            dataType: "json",
            data: js_diagnostico,
            contentType: "application/json; charset=utf-8",
            success: function (respuesta) {
                mostrar_consola("Diangostico guardado. ID: " + respuesta);
        }
        });
    }


    function main() {
        var inputSistolica = document.getElementById("inputSistolica");
        var inputDiastolica = document.getElementById("inputDiastolica");
        var textAreaRespuesta = document.getElementById("textAreaRespuesta");
        var fechaNacimiento = document.getElementById("fechaNacimiento");
        var edad = document.getElementById("edad");
        var dni = document.getElementById("dni");
        var nombre = document.getElementById("nombre");
        var apellido = document.getElementById("apellido");
        var btnEtiologia = document.getElementById("btnEtiologia");
        var inputPresionArterial = document.getElementById("presionArterial");
        var inputComentario = document.getElementById("comentario");
        //Elementos de la seccion diagnostico



        //window.addEventListener('load', main, false);
        fechaNacimiento.addEventListener('change', calcularEdad, false);


        //cushing:
        var supresion_dexametasona = document.getElementById("supresion_dexametasona");
        var cortisol_libre = document.getElementById("cortisol_libre");
        var cortisol_nocturno = document.getElementById("cortisol_nocturno");

        //disfuncion tiroidea
        var tsh = document.getElementById("tsh");
        var t4 = document.getElementById("t4");

        //acromegalia
        var igf1 = document.getElementById("igf1");

        //sahos
        var iah = document.getElementById("iah");

        //coartacion
        var coartacion_si = document.getElementById("coartacion_si");
        var coartacion_no = document.getElementById("coartacion_no");

        //hta nefrogenica
        var tfg = document.getElementById("tfg");
        var quistes_rinon = document.getElementById("quistes_rinon");
        var ant_poliquitosis_si = document.getElementById("ant_poliquitosis_si");
        var proteinuria = document.getElementById("proteinuria");

        //HTA_renovascular
        var estenosis_renal_si = document.getElementById("estenosis_renal_si");

        //Feocromocitoma
        var dopamina = document.getElementById("dopamina");
        var epinefrina = document.getElementById("epinefrina");
        var norepinefrina = document.getElementById("norepinefrina");
        var acido_vainillin_mandelico = document.getElementById("acido_vainillin_mandelico");
        var epinefrina_urinaria = document.getElementById("epinefrina_urinaria");
        var metanefrina = document.getElementById("metanefrina");
        var norepinefrina_urinaria = document.getElementById("norepinefrina_urinaria");

        //Uso sust efecto presor
        var consumo_farmacos_si = document.getElementById("consumo_farmacos_si");
        var consumo_otras_sustancias_si = document.getElementById("consumo_otras_sustancias_si");
        var consumo_drogas_si = document.getElementById("consumo_drogas_si");

        //Sindrome Carcinoide
        var acido_hidroxindolacetico = document.getElementById("acido_hidroxindolacetico");
        var cromogranina_a = document.getElementById("cromogranina_a");
        var serotonina = document.getElementById("serotonina");

        //hiperaldosteronismo
        var sodio = document.getElementById("sodio");
        var concentracion_aldosterona = document.getElementById("concentracion_aldosterona");
        var arp = document.getElementById("arp");

        inicializarTest();

    }


    function inicializarTest() {
        dni.value = 38089243;
        nombre.value = "Federico";
        apellido.value = "veiga"


        inputSistolica.value = 95;
        inputDiastolica.value = 90;
        edad.value = 62;

        //cushing
        supresion_dexametasona.value = 0.5;
        cortisol_libre.value = 10;
        cortisol_nocturno.value = 0.1;

         //disfuncion tiroidea
        tsh.value = 3;
        t4.value = 15;

        //acromegalia
        //edad.value = 60;
        igf1.value = 180;

        //sahos
        iah.value = 0;

        //HTA NEfrogenica
        tfg.value = 100;
        quistes_rinon.value = 0;
        proteinuria.value = 70;

        //Feocromocitoma
        dopamina.value = 90;
        epinefrina.value = 130;
        norepinefrina.value = 75;
        acido_vainillin_mandelico.value = 5;
        epinefrina_urinaria.value = 50;
        metanefrina.value = 0.8;
        norepinefrina_urinaria.value = 50;

        //carcionide
        acido_hidroxindolacetico.value = 7;
        cromogranina_a.value = 200;
        serotonina.value = 20;

        //hiperaldosteronismo
        sodio.value = 110;
        concentracion_aldosterona.value = 15;
        arp.value = 1.5;
    }

    function calcularPA() {

        textAreaRespuesta.value = "";

        guardarDatosOrinaDB();
        guardarDatosSangreDB();
        guardarEstudiosVariosDB();
        guardarAnamnesisDB();
        calcularNivelPA();
    }



    function calcularNivelPA() {

        var inputPresionArterial = document.getElementById("presionArterial");
        var js_presion_arterial = JSON.stringify({ sistolica: inputSistolica.value, diastolica: inputDiastolica.value });
        var btnEtiologia = document.getElementById("btnEtiologia");

        $.ajax({
            type: "POST",
            url: '@Url.Action("calcularPA", "Home")',
            dataType: "json",
            data: js_presion_arterial,
            contentType: "application/json; charset=utf-8",
            success: function (respuesta) {
                var resHta = "";
                nivelPA = respuesta['presionArterial'];
                if (respuesta['presionArterial'].includes("HTA"))
                {
                    resHta = (respuesta['presionArterial'] == "HTA1") ? "HTA-1" :
                        (respuesta['presionArterial'] == "HTA2") ? "HTA-2" :
                            "HTA-3";

                    textAreaRespuesta.value += "Presion Arterial: " + resHta + "\n";
                    btnEtiologia.disabled= false;
                    inputPresionArterial.value = resHta;
                }

                else {
                    //textAreaRespuesta.value += "IF FALSE";
                    btnEtiologia.disabled = true;
                }

                //activarRB(respuesta['presionArterial']);
            }
        });
        //Guardo los datos del paciente
        var js_persona = JSON.stringify({ dni: dni.value, edad: edad.value, nombre: nombre.value, apellido: apellido.value });

        $.ajax({
        type: "POST",
        url: '@Url.Action("agregarPersonaDB", "Home")',
        dataType: "json",
        data: js_persona,
        contentType: "application/json; charset=utf-8",
        success: function (respuesta) {
            //alert(respuesta);
            }
        });
        //Guardo datos de presion arterial
        var js_presion_arterial = JSON.stringify({ sistolica: inputSistolica.value, diastolica: inputDiastolica.value });

        $.ajax({
        type: "POST",
        url: '@Url.Action("agregarPresionArterial", "Home")',
        dataType: "json",
        data: js_presion_arterial,
        contentType: "application/json; charset=utf-8",
        success: function (respuesta) {
            //alert(respuesta);
            }
        });
    }

    function determinarEtiologia() {
        var textAreaCausasSecundarias = document.getElementById("causasSecundarias");
        var inputEtiologia = document.getElementById("etiologia");
        var js_variables_clinicas = JSON.stringify({
            supresion_dexametasona: supresion_dexametasona.value, cortisol_libre: cortisol_libre.value, cortisol_nocturno: cortisol_nocturno.value,
            tsh: tsh.value, t4: t4.value,
            edad: edad.value, igf1: igf1.value,
            indice_apnea_hipopnea: iah.value,
            coartacion: coartacion_si.checked,
            tfg: tfg.value,
            quistes: quistes_rinon.value,
            proteinuria: proteinuria.value,
            ant_poliquistosis_renal: ant_poliquitosis_si.checked,
            estenosis_renal: estenosis_renal_si.checked,
            norepinefrina_sangre: norepinefrina.value,
            dopamina_sangre: dopamina.value,
            epinefrina_sangre: epinefrina.value,
            epinefrina_orina: epinefrina_urinaria.value,
            norepinefrina_orina: norepinefrina_urinaria.value,
            metanefrina_orina: metanefrina.value,
            acido_vainillin_mandelico: acido_vainillin_mandelico.value,
            consumo_drogas: consumo_drogas_si.checked,
            consumo_otras_sustancias: consumo_otras_sustancias_si.checked,
            consumo_farmacos: consumo_farmacos_si.checked,
            acido_hidroxindolacetico: acido_hidroxindolacetico.value,
            serotonina: serotonina.value,
            cromogranina: cromogranina_a.value,
            sodio: sodio.value,
            concentracion_aldosterona: concentracion_aldosterona.value,
            arp: arp.value
        });


        $.ajax({
            type: "POST",
            url: '@Url.Action("determinarEtiologia", "Home")',
            dataType: "json",
            data: js_variables_clinicas,
            contentType: "application/json; charset=utf-8",
            success: function (respuesta) {
                var res = "No";
                
                textAreaCausasSecundarias.value = "";
                etiologia = respuesta['etiologia'];
                guardarDiagnosticoDB();
                textAreaRespuesta.value += "Etiologia: " + respuesta['etiologia'] + "\n";
                inputEtiologia.value = respuesta['etiologia'];
               // textAreaRespuesta.value += "Causas:" + "\n";

                res = (respuesta['acromegalia'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['acromegalia'] == true) ? "Acromegalia \n" : "";
               // textAreaRespuesta.value += "Acromegalia: " + res + "\n";

                res = (respuesta['coartacion_aorta'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['coartacion_aorta'] == true) ? "Coartación Aorta \n" : "";
               // textAreaRespuesta.value += "Coartación Aorta: " + res + "\n";

                res = (respuesta['disfuncion_tiroidea'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['disfuncion_tiroidea'] == true) ? "Disfunción Tiroidea \n" : "";
                //textAreaRespuesta.value += "Disfunción Tiroidea: " + res + "\n";

                res = (respuesta['feocromocitoma'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['feocromocitoma'] == true) ? "Feocromocitoma \n" : "";
               // textAreaRespuesta.value += "Feocromocitoma: " + res + "\n";

                res = (respuesta['hiperaldosteronismo'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['hiperaldosteronismo'] == true) ? "Hiperaldosteronismo \n" : "";
               // textAreaRespuesta.value += "Hiperaldosteronismo: " + res + "\n";

                res = (respuesta['hta_nefrogenica'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['hta_nefrogenica'] == true) ? "HTA Nefrogénica \n" : "";
               // textAreaRespuesta.value += "HTA Nefrogénica: " + res + "\n";

                res = (respuesta['hta_renovascular'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['hta_renovascular'] == true) ? "HTA Renovascular \n" : "";
               // textAreaRespuesta.value += "HTA Renovascular: " + res + "\n";

                res = (respuesta['sahos'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['sahos'] == true) ? "SAHOS \n" : "";
               // textAreaRespuesta.value += "SAHOS: " + res + "\n";

                res = (respuesta['sindrome_carncinoide'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['sindrome_carncinoide'] == true) ? "Sindrome Carcinoide \n" : "";
               // textAreaRespuesta.value += "Sindrome Carcinoide: " + res + "\n";

                res = (respuesta['cushing'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['cushing'] == true) ? "Sindrome de Cushing \n" : "";
                //textAreaRespuesta.value += "Sindrome de Cushing: " + res + "\n";

                res = (respuesta['sust_efecto_presor'] == true) ? "Si" : "No";
                textAreaCausasSecundarias.value += (respuesta['sust_efecto_presor'] == true) ? "Sustancia efecto presor \n" : "";
               // textAreaRespuesta.value += "Sustancia efecto presor: " + res + "\n";

              

            }
        });


    console.log("FIN FUNCION determinarEtiologia()");

    }

    function calcularEdad() {
        var fnac = fechaNacimiento.value;
        var fechaNacimientoObj = new Date(fnac);
        var fechaActual = new Date();
        var diferenciaMilisegundos = fechaActual - fechaNacimientoObj;
        var anios = Math.floor(diferenciaMilisegundos / (1000 * 60 * 60 * 24 * 365.25));
        edad.value = anios;
    }



    function mostrar_consola( s) {
        var textAreaRespuesta = document.getElementById("textAreaRespuesta");
        textAreaRespuesta.value += s + "\n";
    }


    function limpiar_consola() {
        var textAreaRespuesta = document.getElementById("textAreaRespuesta");
        textAreaRespuesta.value = "";
    }

    window.addEventListener('load', main, false);
</script>



<style>

    body {
        color: #566787;
        background: #F7F6FB; /* #f5f5f5;*/
        font-family: 'Varela Round', sans-serif;
        font-size: 10px;
    }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }

    #divDatosPersonales {
        margin-left: 100px;
        margin-top: 80px;
    }

    form {
        display: inline;
        float: left;
        /* width:1400px;*/
        margin-left: 100px;
    }

    fieldset {
        display: inline;
        float: left;
        border: solid 1px black;
    }

    form label {
        clear: both;
        display: block;
        float: left;
    }

    form input {
        display: inline;
        float: right;
        width: 55px;
    }

        form input[type=text] {
            display: inline;
            float: right;
            width: 50px;
        }

    #div_fila_1 fieldset {
        height: 340px;
    }

    #div_fila_2 {
        clear: both;
        display: block;
        float: left;
    }

    #estudiosVarios {
        display: inline-block;
        float: left;
    }

        #estudiosVarios fieldset {
            clear: both;
            display: block;
            float: left;
        }


    #fieldsetPaciente, #fieldsetEstudioImagen, #fieldsetPolisomnografia, #fieldsetSalival {
        width: 380px !important;
    }

    #fieldsetSangre, #fieldsetOrina {
        width: 400px !important;
    }



    #fieldsetAnamnesis {
        width: 802px;
    }

    #fieldsetPaciente input {
        width: 100px;
    }

    fieldset * {
        margin-bottom: 5px;
    }

    body {
        background-color: #202020;
    }

    label {
        color: #FFF2E8;
    }

    legend {
        color: #FFC799;
        font-size: 20px;
    }

    fieldset {
        border: solid 1px #FFC799;
    }

    .btnHTA {
        background-color: #ffc799;
        border: none;
        color: #201104;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 35px;
        float: left;
    }

        /* Efecto hover */
        .btnHTA:hover {
            background-color: WHITE;
        }

    form input[type=number] {
        border: 1px solid #B3743F;
        border-radius: 4px;
        transition: border-color 0.3s ease;
        outline: none;
        background-color: #201104;
        color: #FFC799;
    }

    form input[type=text] {
        border: 1px solid #B3743F;
        border-radius: 4px;
        transition: border-color 0.3s ease;
        outline: none;
        background-color: #201104;
        color: #FFC799;
    }

    form input[type=date] {
        border: 1px solid #B3743F;
        border-radius: 4px;
        transition: border-color 0.3s ease;
        outline: none;
        background-color: #201104;
        color: #FFC799;
    }

    /* Estilo cuando el campo de entrada está enfocado */
    form input[type=text]:focus {
        border-color: #FFF2E8;
        box-shadow: 0 0 5px #FFF2E8;
    }

    form input[type=number]:focus {
        border-color: #FFF2E8;
        box-shadow: 0 0 5px #FFF2E8;
    }

    form input[type=date]:focus {
        border-color: #FFF2E8;|
        box-shadow: 0 0 5px #FFF2E8;
    }

    form input[type=radio] {
        accent-color: #B3743F;
        display: inline;
        float: left;
    }

    #textAreaRespuesta {
        border: 1px solid #B3743F;
        margin-top: 10px;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s ease;
        outline: none;
        resize: none; /* Evita que se pueda redimensionar */
        background-color: #201104;
        color: #FFF2E8;
        height: 395px;
        width: 500px;
    }

    #columna {
        float: left;
        width: 550px;
        height: 600px;
        margin-left: 15px;
    }

        #columna * {
            display: block;
            float: left;
        }

        #columna label {
            margin-top: 10px;
            font-size: 20px;
            color: #FFC799;
        }

    b {
        color: #FFC799;
    }


    .help-icon {
        display: inline-block;
        /* position: relative; */
        float: right;
        color: #FFCEA6;
        margin-left: 5px;
    }

    .labelSiNo {
        width: 20px !important;
    }

    #fieldsetSalival {
        height: 109px;
    }

    .btnHTA:disabled {
        background-color: grey;
    }

    #labelResultado {
        margin-top: 10px;
        font-size: 20px;
        color: #FFC799;
    }

    #fieldsetDiagnostico {
        width: 500px;
        margin-top: 13px;
    }

        #fieldsetDiagnostico * {
            display: inline;
        }

        #fieldsetDiagnostico label {
            clear: both;
            display: block;
            float: left;
        }

        #fieldsetDiagnostico input {
            border: 1px solid #B3743F;
            border-radius: 4px;
            transition: border-color 0.3s ease;
            outline: none;
            background-color: #201104;
            color: #FFC799;
            float: right;
            width: 300px;
            height: 29px;
            margin-top: 10px;
        }

        #fieldsetDiagnostico input {
            width: 300px;
        }

    #causasSecundarias {
        border: 1px solid #B3743F;
        border-radius: 4px;
        transition: border-color 0.3s ease;
        outline: none;
        background-color: #201104;
        color: #FFC799;
        float: right;
        width: 300px;
        margin-top: 10px;
        height: 150px !important;
        resize: none;
    }

    #legendDiagnostico {
        font-size: 18px;
    }
</style>